* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.box {
  /* border: 2px solid white; */
  background-color: black;
  height: 80vh;
  color: white;
}
body {
  overflow-x: hidden;
}
.box0 {
  width: 100vw;
  height: 110vh;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/73334647-ad51-42a9-b07b-93298cc2a8e1/2b0fca4f-c15c-4622-9efc-572c4a408c30/IN-en-20230605-popsignuptwoweeks-perspective_alpha_website_small.jpg");
}
.home {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.8) 90%
  );
  background-size: 100%;
  width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  /* position: fixed; */
}

.default-ltr-cache-mv4tc2 {
  width: 9.25rem;
  height: 2.5rem;
  color: rgba(229, 9, 20, 1);
  fill: currentColor;
  display: block;
  /* border: 2px solid rgb(247, 246, 246); */
}
.navbar {
  margin: auto;
  /* border: 2px solid red; */
  height: 5rem;
  width: 100vw;
  align-items: center;
  text-align: center;
  display: flex;
}
.logo {
  margin: auto;
}

.language {
  display: flex;
  margin: auto;
  margin-right: 0.1rem;
  padding: 0.6rem;
  border: 1px solid rgb(167, 167, 167);
  background-color: rgba(65, 64, 64, 0.7);
  border-radius: 5px;
  color: white;
  height: 36px;
  width: auto;
  align-items: center;
  text-align: center;
  font-size: 16px;
  /* padding-left: 0.2rem; */
}

.language .earth-img {
  display: flex;
  /* padding-right: 0.2rem; */
}
.language .ln-option {
  color: white;
  border: none;
  /* padding-right: 0.2rem; */
  outline: none;
  background-color: rgba(65, 64, 64, 0.7);
  nav-down: none;
  font-size: 16px;
}
.sign {
  background-color: red;
  height: 36px;
  width: auto;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 5px;
  margin: auto;
  padding: 0.4rem;
  display: flex;
  margin-left: 2rem;
  font-size: 16px;
  /* padding-right: 0.2rem; */
}
.sign:hover {
  background-color: rgb(245, 66, 66);
}
.sign a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.midmain {
  text-align: center;
  color: white;
}

.tagh01 {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-top: 6rem;
}
.midmain p {
  font-size: 25px;
  text-align: center;
}
.logid {
  /* border: 1px solid rgb(255, 0, 0); */
  margin-top: 0.8rem;
  display: flex;
  padding: 0px;
  margin: auto;
  height: 4rem;
  width: 40rem;
  /* align-items: center; */
  text-align: center;
  gap: 0.4rem;
}

.email-input {
  /* width: 20rem; */
  margin: auto;
}
.email-input input {
  color: white;
  font-size: 20px;
  min-height: 16px;
  min-width: 36px;
  width: 28rem;
  margin: auto;
  /* line-height: 1.5rem; */
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  outline: none;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  background-color: rgb(81 78 78 / 69%);
}

.email-input input:hover {
  border: 1px solid rgb(221, 221, 222);
  background-color: rgba(121, 121, 121, 0.6);
  border-radius: 4px;
}
.get-start {
  margin: auto;
  height: 3.4rem;
  /* width: 5rem; */
  display: flex;
  width: max-content;
  background-color: red;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.2rem;
}

.get-start button {
  width: 9rem;
  background-color: red;
  border: none;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  color: white;
}

.get-start:hover {
  cursor: pointer;
  background-color: rgb(255, 66, 66);
}
.get-start button:hover {
  background-color: rgb(245, 66, 66);
}

.get-start button a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  margin: auto;
}

.break-line {
  border: 1px solid rgb(75, 75, 75);
  background-color: rgb(75, 75, 75);
  height: 8px;
  width: 100vw;
}

@media (max-width: 600px) {
  .logid {
    display: block;
  }
  #get-start {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 390px) {
/* @media (max-width: 290px) { */
  body {
    width: 160vw;
    background-color: black;
    /* overflow: visible; */
  }
  .box0 {
    /* border: 2px solid red; */
    width: 165vw;
    height: 100vh;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/73334647-ad51-42a9-b07b-93298cc2a8e1/2b0fca4f-c15c-4622-9efc-572c4a408c30/IN-en-20230605-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-size: cover;
  }
  #home {
    width: 165vw;
    /* border: 2px solid red; */
  }

  /* page2 */
  .page2-0 {
    margin: auto;
    margin-left: auto;
  }
  .tagh01,
  .midmain p {
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: start;
  }
  .break-line {
    width: 165vw;
  }
}
